:root {

    /*colors*/
    --primary-green: #20c05c;

    --primary-green-light: #089a3f;
    --primary-main: #222223;
    --primary-light: #242424;
    --secondary-dark: #1e1d26;
    --secondary-light: #f7f7f7;

    --white: #fff;

    --secondary-50: #EAEAEA;
    --secondary-100: #b3b3b3;
    --secondary-150: #a8a8a8;
    --secondary-200: #747474;
    --secondary-400: #444444;

    --black: #000;

    /*font-family*/
    --Merriweather: "Merriweather", "arial", "sans-serif";
    --Poppins: "Poppins", "arial", "sans-serif";
    --Montserrat: "Montserrat", "arial", "sans-serif";

    /* font size */
    --font-size-mobile-header: 1.625rem;
    --font-size-mobile-para: 0.813rem;
    --font-size-mobile-title: 0.813rem;
    --font-size-mobile-cap: 0.75rem;
    --font-size-mobile-icon: 1rem;
    --font-size-mobile-idk: 1.056rem;
    --font-size-mobile-bigicon: 65px;
    --font-size-mobile-slide: 1.125rem;
    --font-size-tablet-slide: 1.438rem;
    --font-size-tablet-idk: 1.056px;
    --font-size-tablet-header: 2.063rem;
    --font-size-tablet-para: 0.938rem;
    --font-size-tablet-quote: 0.875rem;
    --font-size-laptop-header: 2.313rem;
    --font-size-laptop-para: 1.063rem;
    --font-size-laptop-quote: 0.938rem;
    --font-size-laptop-slide: 1.625rem;
    --font-size-biglaptop-header: 2.75rem;
    --font-size-biglaptop-idk: 1.219rem;
    --font-size-biglaptop-para: 1.25rem;
    --font-size-biglaptop-cap: 1.063rem;
    --font-size-biglaptop-quote: 0.938rem;
    --font-size-biglaptop-slide: 1.875rem;
}