:root {

    /*colors*/
    --primary-green: #20c05c;
    --primary-main: #222223;
    --primary-light: #242424;
    --secondary-dark: #1e1d26;
    --primary-green-light: #089a3f;
    --secondary-light: #f7f7f7;

    --white: #fff;

    --secondary-50: #EAEAEA;
    --secondary-100: #b3b3b3;
    --secondary-150: #a8a8a8;
    --secondary-200: #747474;
    --secondary-400: #444444;

    --black: #000;

    /*fonts-family*/
    --Merriweather: "Merriweather", "arial", "sans-serif";
    --Poppins: "Poppins", "arial", "sans-serif";
    --Montserrat: "Montserrat", "arial", "sans-serif";

    /* font size */
    --font-size-mobile-header: 2.6rem;
    --font-size-mobile-para: 1.3rem;
    --font-size-mobile-title: 1.3rem;
    --font-size-mobile-cap: 1.2rem;
    --font-size-mobile-icon: 1.6rem;
    --font-size-mobile-idk: 1.69rem;
    --font-size-mobile-bigicon: 65px;
    --font-size-mobile-slide: 1.8rem;
    --font-size-tablet-slide: 2.3rem;
    --font-size-tablet-idk: 1.69px;
    --font-size-tablet-header: 3.3rem;
    --font-size-tablet-para: 1.5rem;
    --font-size-tablet-quote: 1.4rem;
    --font-size-laptop-header: 3.7rem;
    --font-size-laptop-para: 1.7rem;
    --font-size-laptop-quote: 1.5rem;
    --font-size-laptop-slide: 2.6rem;
    --font-size-biglaptop-header: 4.4rem;
    --font-size-biglaptop-idk: 1.95rem;
    --font-size-biglaptop-para: 2.0rem;
    --font-size-biglaptop-cap: 1.7rem;
    --font-size-biglaptop-quote: 1.5rem;
    --font-size-biglaptop-slide: 3.0rem;
}